@model IEnumerable<Caregiver>

<h2>Caregivers</h2>
<a href="@Url.Action("Create")">Add New Caregiver</a>
<table>
<thead>
<tr>
<th>Name</th>
<th>Assigned Patient ID</th>
</tr>
</thead>
<tbody>
@foreach (var caregiver in Model)
{
<tr>
<td>@caregiver.Name</td>
<td>@caregiver.AssignedPatientId</td>
</tr>
}
</tbody>
</table>
